<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:rich="http://richfaces.org/rich"
      >
    <h:head>
        <title>Arrow Panel</title>
        <style type="text/css">
            .default{
                font-size:11px;
                cursor:pointer;
                width:100px;
                border:1px solid gray;
                padding:2px
            }

            .rf-ind-drag.default{
                padding-left:30px;
                background-position: 5px;
                background-repeat: no-repeat;
            }
            .rf-ind-drag.accept{
                background-position: 5px;
                background-repeat: no-repeat;
                border:2px solid green
            }
            .rf-ind-drag.reject{
                border:2px solid red;
                background-position: 5px;
                background-repeat: no-repeat;
            }
        </style>
    </h:head>
    <h:body>
        <h:form id="form1">
            <rich:dragIndicator id="dragIndicator1" acceptClass="accept" rejectClass="reject" draggingClass="default"/>

            <a4j:outputPanel id="outputPanel2" ajaxRendered="true">
                <rich:dataTable id="arrowSource" value="#{arrowBean.source}" var="arrow">
                    <rich:column id="column1">
                        <h:panelGroup id="panelGroup1">
                            <h:graphicImage id="filterImage" alt="#{filter.name}" 
                                            value="#{resource['images:arrow-md.png']}" 
                                            onmouseover="cursor: hand;" onmouseout="cursor:pointer;"/>
                            <h:outputText value="#{arrow.name}"/>
                            <rich:dragSource dragValue="#{arrow}" type="a"/>
                        </h:panelGroup>
                    </rich:column>
                </rich:dataTable>
            </a4j:outputPanel>

            <rich:panel>
                <f:facet name="header">
                    <h:outputText value="Bullseye Panel"/>
                </f:facet>

                <a4j:outputPanel id="outputPanel1">
                    <h:panelGrid columns="2">
                        <rich:dataTable id="arrowTarget" value="#{arrowBean.target}" var="tArrow">
                            <h:column>
                                <h:panelGroup id="panelGroup2">
                                    <h:graphicImage alt="#{tArrow.name}" value="#{resource['images:arrow-md.png']}"/>
                                    <h:outputText value="#{tArrow.name}"/>
                                </h:panelGroup>
                            </h:column>
                        </rich:dataTable>

                        <h:graphicImage id="bullseye" alt="bullseye" value="#{resource['images:bullseye.jpg']}">
                            <rich:dropTarget acceptedTypes="a"  render="arrowTarget, outputPanel2"
                                             dropListener="#{arrowListener.processDrop}"/>
                        </h:graphicImage>
                    </h:panelGrid>


                </a4j:outputPanel>
            </rich:panel>

            <h:panelGroup>
                <h:button outcome="index" value="Home"/>
                <a4j:commandButton action="#{arrowBean.reset()}" value="Reset" render="outputPanel1 outputPanel2"/>
            </h:panelGroup>

        </h:form>
    </h:body>
</html>