<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>RichFaces Drag and Drop Examples</title>
    </h:head>
    <h:body>
        <h1>RichFaces Drag and Drop Examples</h1>
        <p>
            These are two examples of using RichFaces drag and drop capabilities in a fun way. The second example is more <br/>
            complex and uses Java <code>clone</code> to make copies of the arrows.
        </p>
        <p>
            These demos are based on another popular post <a href="http://javaevangelist.blogspot.com/2013/03/jsf-21x-tip-of-day-primefaces-35-drag-n.html">JSF 2.1.x Tip of the Day: Primefaces 3.5 &lt;p:ring/&gt; Drag-N-Drop Example</a> I did for Primefaces.
        </p>
        <h:form id="form1">
            <ul>
                <li><h:link outcome="example1" value="Example 1"/></li>
                <li><h:link outcome="example2" value="Example 2"/></li>
            </ul>
        </h:form>
    </h:body>
</html>

